<%= stylesheet_link_tag 'table' %>

<table class="centered-table">
  <thead>
    <tr>
      <th>Loja</th>
      <th>Valor</th>
      <th>Natureza</th>
      <th>Tipo</th>
      <th>Data</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cnabs.each do |cnab| %>
    <tr>
      <td><%= cnab.store_name %></td>
      <td><%= "R$#{cnab.value}" %></td>
      <td><%= cnab.type_transaction.nature %></td>
      <td><%= cnab.type_transaction.description %></td>
      <td><%= cnab.date %></td>
      <td><%= link_to image_tag('trash_icon', style: 'width: 20px;'), "destroy/#{cnab.id}", data: {
        turbo_method: :delete,
        turbo_confirm: 'Você realmente deseja remover este dado?'
      } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>